.todo-item {
  display: grid;
  width: 100%;
  padding: 16px;
  height: auto;
  grid-template-columns: 20px 1fr 20px;
  font-size: 16px;
  box-shadow: 0px 3px 4px #ddd;
  border-radius: 12px;
  align-items: center;
  gap: 8px;
}

.todo-item.todo-item--completed {
  background-color: #ddd;
  opacity: .8;
  box-shadow: none;
}

.item-checkbox {
  height: 20px;
  width: 20px;
  border: 2px solid #666;
  color: #666;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.item-checkbox:active {
  transform: scale(.9);
}

.checkmark {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark img {
  width: 90%;
}

.checkmark.checkmark--completed {
  opacity: 1;
}

.checkmark:hover {
  opacity: 1;
}

.item-text {
  opacity: .8;

}

.item-text.item-text--completed {
  text-decoration: line-through;
}

.item-delete {
  width: 20px;
  height: 20px;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 14px;
  filter: grayscale(100%);
  cursor: pointer;
  transition: .1s;
  user-select: none;
}

.item-delete:hover {
  filter: none;
}

.item-delete:active {
  transform: scale(.9);
}